# Input methods

In [21]:
username = input('Please select a username')
password = input('please enter your password')

Please select a username hossein4527
please enter your password Aaa

In [26]:
print("Your username is {u} and your password is {p}".format(u=username, p=password))

Your username is hossein4527 and your password is Aaa

# Dictionaries

In [82]:
d1 = {'k1':123 , 'k2':[1,2,3] , 'k3':'value' , 'k4':{'innerkey':[1,2,3] , 'outerkey':[4,5,6]}}

In [84]:
d1.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [90]:
d1.items()

dict_items([('k1', 123), ('k2', [1, 2, 3]), ('k3', 'value'), ('k4', {'innerkey': [1, 2, 3], 'outerkey': [4, 5, 6]})])

In [92]:
d1.values()

dict_values([123, [1, 2, 3], 'value', {'innerkey': [1, 2, 3], 'outerkey': [4, 5, 6]}])

# Difference between lists and tupples

lists are mutable in the sence that one can change an index's value by reassigning another number to it. Tupples are immutable, so their values cannot be reassigned

In [33]:
my_list = [1,2,3]
my_list[1] = 'New'

In [34]:
my_tupple = (1,2,3)
my_tupple[1] = 'New'

TypeError: 'tuple' object does not support item assignment

# Sets

Sets are like lists and tupples with the difference that sets can only accept unique elements and reduces the same elements down to unique elements.

In [44]:
my_set = {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [45]:
my_set2 = {1,1,1,1,2,3,4,4,4,5,6,5}
my_set2

{1, 2, 3, 4, 5, 6}

In [46]:
my_set3 = set([1,1,1,1,2,3,4,4,4,6,6])
my_set3

{1, 2, 3, 4, 6}

In [48]:
my_set3.add(5)
my_set3

{1, 2, 3, 4, 5, 6}

In [53]:
list(my_set3)

[1, 2, 3, 4, 5, 6]

# Function

In [56]:
def func(num):
    """
    This function simply returns the number you just input
    """
    return num**2

# Map

In [59]:
input_valus = [1,2,3,4,5]
my_map = map(func , input_valus)
my_map

In [60]:
list(my_map)

[1, 4, 9, 16, 25]

In [63]:
list(map(lambda num: num*3 , input_valus))

[3, 6, 9, 12, 15]

In [64]:
list(filter(lambda num: num%2==0, input_valus))

[2, 4]

# String processing

In [79]:
s = 'hello my name is hossein'
s2 = 'this is a test from twitter #tweet #hossein'

In [78]:
s.split()

['hello', 'my', 'name', 'is', 'hossein']

In [81]:
s2.split('#')

['this is a test from twitter ', 'tweet ', 'hossein']

# Lists

In [96]:
lst = [1,2,3,4,5]
last = lst.pop()
first = lst.pop(0)

In [99]:
last , lst

(5, [2, 3, 4])

In [100]:
first , lst

(1, [2, 3, 4])

In [101]:
'x' in [1,2,3]

False

In [102]:
x = [(1,2),(3,4) , (5,6)]
x[0][0]

1

In [104]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6